/*================================== Pause ===================================*/
#pause-sector {
    grid-area: pause;
}

#pause {
    width: 50px;
    height: 50px;
    background-color: rgb(216, 202, 179);
    position: relative;
    top: 182px;
    right: -67%;
    border-radius: 10px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
#pause:hover {
    background-color: rgb(233 209 172);
}

#pause-icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(./pause.png);
    width: 100%;
    height: 100%;
    background-position: -20px -18px;
    background-size: 91px 87px;
}

/*================================== tetris table ===================================*/
#tetris-ingame {
    grid-area: game;
    display: grid;
    background-color: rgb(216, 202, 179);
    grid-template-columns: 7.5px 260px 7.5px;
    grid-template-rows: 6.5px 520px 6.5px;
    grid-template-areas:
        ' . . . '
        ' . container . '
        ' . . . '
}

#tetris-table-container {
    grid-area: container;
    background-color: rgb(236, 226, 211);
    position: relative;
}

table {
    border-collapse: unset;
}

td {
    width: 26px;
    height: 26px;
    border: 1px solid rgb(216, 202, 179);
    border-radius: 4px;
}

/*================================== 블록 스타일 ===================================*/
.I {
    border: outset #399edb !important;
    background-color: #71b3f5;
}

.J {
    border: outset #faa957 !important;
    background-color: #f7b879;
}

.L {
    border: outset #395dfa !important;
    background-color: #6680f2;
}

.O {
    border: outset #dbc85a !important;
    background-color: #ebdb81;
}

.S {
    border: outset #7ecc74 !important;
    background-color: #99f28f;
}

.T {
    border: outset #a887d4 !important;
    background-color: #cfabff;
}

.Z {
    border: outset #fa8787 !important;
    background-color: #fc9a9a;
}


/*================================== 카운트 숫자 스타일 ===================================*/
#count_number {
    font-size: 81px;
    position: absolute;
    top: 40%;
    right: 40%;
    color: darkgoldenrod;
    font-weight: 600;
}

/*================================== hold 그림 ===================================*/
.HOLD-itag {
    display: inline-block;
    width: 82px;
    height: 56px;
    background-repeat: no-repeat;
    position: relative;
    top: 16%;
}

.HOLD-I {
    width: 108px;
    height: 56px;
    background-image: url(./i.png);
    top: 29%;
    right: 1%;
}

.HOLD-O {
    background-image: url(./o.png);
    width: 54px;
    height: 54px;
}

.HOLD-T {
    background-image: url(./t.png);
}

.HOLD-Z {
    background-image: url(./z.png);
}

.HOLD-S {
    background-image: url(./s.png);
}

.HOLD-J {
    background-image: url(./j.png);
}

.HOLD-L {
    background-image: url(./l.png);
}

/*================================== next 그림 ===================================*/
.NEXT-style {
    display: inline-block;
    width: 82px;
    height: 56px;
    background-repeat: no-repeat;
    position: relative;
    top: 9%;
}

.NEXT-I {
    width: 108px;
    height: 33px;
    background-image: url(./i.png);
    top: 24%;
}

.NEXT-O {
    background-image: url(./o.png);
    width: 54px;
    height: 54px;
}

.NEXT-T {
    background-image: url(./t.png);
}

.NEXT-Z {
    background-image: url(./z.png);
}

.NEXT-S {
    background-image: url(./s.png);
}

.NEXT-J {
    background-image: url(./j.png);
}

.NEXT-L {
    background-image: url(./l.png);
}

/*================================== score, level, lines 텍스트 ===================================*/
.SLL-text {
    position: relative;
    top: 3%;
    font-weight: bold;
    color: goldenrod;
    font-size: 25px;
}

/*=========================================== 게임 오버 ============================================*/
#game-over {
    background-color: burlywood;
    width: 312px;
    height: 177px;
    position: relative;
    bottom: 122%;
    right: 222%;
    text-align: center;
    border: outset;
    border-color: crimson;
}

#gmae-over-title {
    display: inline-block;
    margin: 13px 0;
    font-weight: bold;
    font-size: 33px;
    color: crimson;
}

#game-over-score_1 {
    font-weight: bold;
    font-size: 22px;
}

#game-over-score_2 {
    font-weight: bold;
    font-size: 22px;
    color: maroon;
}

#go_menu_1 {
    width: 48px;
    height: 48px;
    position: relative;
    top: 10%;
    right: 3%;
    border: inherit;
    border-radius: 6px;
    background-image: url(./home.png);
    background-repeat: no-repeat;
    background-size: 39px;
    background-position: 2px;
    background-color: #f1e0bf;
    cursor: pointer;
    border-color: crimson;
}
#go_menu_1:hover{
    background-color: rgb(233 209 172);
}

#restart {
    width: 48px;
    height: 48px;
    position: relative;
    top: 10%;
    right: -3%;
    border: inherit;
    border-radius: 6px;
    background-image: url(./restart.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 4px 3px;
    background-color: #f1e0bf;
    cursor: pointer;
    border-color: crimson;
}
#restart:hover {
    background-color: rgb(233 209 172);
}
.score_first{
    animation-name: textcolorchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes textcolorchange { 
    0% { color: rgb(251 0 0); }
    20% { color: rgb(237 49 49);}
    40% { color: rgb(209 68 68); }
    50% { color: rgb(167 42 42); }
    60% { color: rgb(215 38 38); }
    80% { color: rgb(233 25 25); }
    100% { color: rgb(223 5 5); }
   }

/*=========================================== 일시정지 ============================================*/
#pause-pop {
    display: inline-block;
    width: 224px;
    height: 149px;
    position: relative;
    top: -114%;
    right: 193%;
    text-align: center;
    border: ridge;
    border-color: #d18f4e;
    background-color: #d3bb92;;
}


#pause-pop-text {
    display: inline-block;
    margin: 13px 0;
    font-weight: bold;
    font-size: 36px;
    color: beige;
}

#go_menu_2 {
    width: 49px;
    height: 50px;
    position: relative;
    right: 11px;
    background-image: url(./home2.png);
    background-color: peru;
    background-size: 38px;
    background-repeat: no-repeat;
    background-position: 2px;
    border-radius: 10px;
    border-color: wheat;
    cursor: pointer;
}
#go_menu_2:hover {
    background-color: rgb(233 209 172);
}
#resume {
    width: 50px;
    height: 50px;
    position: relative;
    top: 0px;
    right: -10px;
    background-image: url(./play.png);
    background-color: peru;
    background-size: 51px;
    background-repeat: no-repeat;
    background-position: -2px;
    border-radius: 10px;
    border-color: wheat;
    cursor: pointer;
}
#resume:hover {
    background-color: rgb(233 209 172);
}
/*=========================================== 버튼 클릭 효과 ============================================*/
.button_down {
    border: inset !important;
    background-color: rgb(217 195 161) !important;
}
.button_down_pause_icon {
    background-position: -24px -21px !important;
}

/*=========================================== 미노 떨어질 자리============================================*/
.mino_predict_I{
    border: dotted 2px;
    border-color: #1f97df;
}
.mino_predict_J{
    border: dotted 2px;
    border-color: #df7f1e;
}
.mino_predict_L{
    border: dotted 2px;
    border-color: #697bcb;
}

.mino_predict_O{
    border: dotted 2px;
    border-color: #8f7d1c;
}

.mino_predict_S{
    border: dotted 2px;
    border-color: #4d9d42;
}

.mino_predict_T{
    border: dotted 2px;
    border-color: #9055df;
}

.mino_predict_Z{
    border: dotted 2px;
    border-color: #fa8787;
}







